.falling-leaves-container {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 5;
}

.leaf {
    position: absolute;
    top: -50px;
    font-size: 24px;
    opacity: 0.9;
    animation: fall linear infinite;
}

.leaf-0 { font-size: 20px; }
.leaf-1 { font-size: 26px; }
.leaf-2 { font-size: 18px; }

@keyframes fall {
    0% {
        transform: translateY(-50px) rotate(0deg);
    }
    100% {
        transform: translateY(110vh) rotate(360deg);
    }
}

.leaf:nth-child(1) { left: 5%;  animation-duration: 9s; }
.leaf:nth-child(2) { left: 10%; animation-duration: 7s; }
.leaf:nth-child(3) { left: 15%; animation-duration: 11s; }
.leaf:nth-child(4) { left: 25%; animation-duration: 8s; }
.leaf:nth-child(5) { left: 30%; animation-duration: 10s; }
.leaf:nth-child(6) { left: 40%; animation-duration: 12s; }
.leaf:nth-child(7) { left: 45%; animation-duration: 7s; }
.leaf:nth-child(8) { left: 50%; animation-duration: 9s; }
.leaf:nth-child(9) { left: 55%; animation-duration: 13s; }
.leaf:nth-child(10) { left: 60%; animation-duration: 8s; }
.leaf:nth-child(11) { left: 65%; animation-duration: 11s; }
.leaf:nth-child(12) { left: 70%; animation-duration: 10s; }
.leaf:nth-child(13) { left: 75%; animation-duration: 9s; }
.leaf:nth-child(14) { left: 80%; animation-duration: 12s; }
.leaf:nth-child(15) { left: 90%; animation-duration: 7s; }
